<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--topmenu配置节,使用此配置节配置的菜单功能将出现在控件的顶端菜单栏-->
  <topmenu>paragraph</topmenu>
  <topmenu>specialtype</topmenu>
  <topmenu>justifyleft</topmenu>
  <topmenu>justifycenter</topmenu>
  <topmenu>justifyright</topmenu>
  <!--blank产生一个空格,使功能菜单图标与图标之间产生一个空格-->
  <topmenu>blank</topmenu>
  <topmenu>insertorderedlist</topmenu>
  <topmenu>insertunorderedlist</topmenu>
  <topmenu>outdent</topmenu>
  <topmenu>indent</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>undo</topmenu>
  <topmenu>redo</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>delete</topmenu>
  <topmenu>cut</topmenu>
  <topmenu>search</topmenu>
  <topmenu>copy</topmenu>
  <topmenu>paste</topmenu>
  <topmenu>printer</topmenu>
  <!--br产生一个换行符,使功能菜单界面换行-->
  <topmenu>br</topmenu>
  <topmenu>selFont</topmenu>
  <topmenu>fontSize</topmenu>
  <topmenu>bold</topmenu>
  <topmenu>italic</topmenu>
  <topmenu>underline</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>inserthorizontalrule</topmenu>
  <topmenu>font</topmenu>
  <topmenu>bgcolor</topmenu>
  <topmenu>createlink</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>fullscreen</topmenu>
  <topmenu>table</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>insertfile</topmenu>
  <topmenu>insertimage</topmenu>
  <topmenu>insertmedia</topmenu>
  <topmenu>inserttemplate</topmenu>
  <topmenu>date</topmenu>
  <topmenu>emot</topmenu>
  <!--statusmenu配置节,使用此配置节配置的菜单功能将出现在控件的状态工具栏-->
  <statusmenu>imgsource</statusmenu>
  <statusmenu>imgedit</statusmenu>
  <statusmenu>imgpreview</statusmenu>
  <statusmenu>plus</statusmenu>
  <statusmenu>min</statusmenu>
  <!--bottommenu配置节,使用此配置节配置的菜单功能将出现在控件的底部工具栏-->
  <bottommenu>getpage</bottommenu>
  <bottommenu>symbol</bottommenu>
  <bottommenu>codehighlight</bottommenu>
  <bottommenu>help</bottommenu>
</configuration>